@import url(https://fonts.google.com/specimen/Hanken+Grotesk);

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'hanken grotesk', Arial, Helvetica, sans-serif;
    overflow-x: hidden;
}

body {
    text-align: center; 
    width: 100vw;
    height: 100vh;
    border: 1px solid black;
}

.wrap {
    margin: 200px auto;
    background-color: rgb(255, 249, 249);
    max-width: 505px;
    border-radius: 15px;
    display: grid;
    grid-template-columns: 250px 250px;
    gap: 5px;

    position: relative;
    box-shadow: 3px 3px 9px rgba(0, 0, 0, 0.15);
}

.contenedor1 {
    padding: 30px;
    background-image: linear-gradient( hsl(252, 100%, 67%), hsl(241, 81%, 54%));
    border-radius: 15px;
    color: white;
}

.titulo {
    font-weight: 300;
    margin-bottom: 30px;
}

.circulo {
    width: 120px;
    height: 120px;
    background-image: linear-gradient( hsl(241, 81%, 54%)30%, hsla(252, 100%, 67%, 60%));
    margin-bottom: 30px;
    margin-left: 30px;
    margin-right: 60px;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.resultado {
    font-size: 3rem;
    font-weight: 700;
}

.resultado-d {
    font-size: 0.6rem;
}

.great {
    font-size: 1.2rem;
    margin-bottom: 10px;
    font-weight: 500;
}

.detail {
    font-size: 0.8rem;
    font-weight: 300;
    margin-bottom: px;
}
/*
.attribution { 
    font-size: 0.6rem; 
    text-align: center;
    grid-column: 1 / 1;
    position: absolute;
    bottom: 0px;
    margin: 15px;
    color: white;
 }
.attribution a { color: hsl(0, 0%, 89%); }*/

.contenedor2 {
    padding: 20px;
    text-align: left;
}

.propiedad {
    background-color: rgb(244, 244, 244);
    padding: 10px;
    border-radius: 10px;
    margin: 10px 0px;
    font-size: .7rem;
}

.summary {
    font-size: 1rem;
    margin-bottom: 30px;
    margin-top: 10px;
}

.elemento {
    position: absolute;
}

.valor {
    text-align: right;
    position: relative; 
}

button {
    background-image: linear-gradient( hsl(252, 100%, 67%), hsl(241, 81%, 54%));
    color: white;
    padding: 8px;
    margin: 20px;
    border-radius: 30px;
    width: 180px;
    font-size: 0.7rem;
    /*position: absolute;
    bottom: 0;
    right: 3%;*/
}